<div *ngIf="this.data">
  <table>
    <tr *ngFor="let item of this.data" [ngClass]="{'grey-background': checkIfIdEven(item)}">
        <app-dogs-list-element 
        [dog]="item"
        (remove)="onDogRemoved($event)">
      </app-dogs-list-element>
    </tr>
  </table>
</div>



<div [ngSwitch]="isDataEmpty()">
    <div *ngSwitchCase="true" > No elements found. <span (click)="redirectToHelp()">Go to help</span></div>
    <div *ngSwitchCase="false">{{this.data.length}} elements found</div>
</div>


<!-- <div [class.hidden]="!isDataEmpty()">
    No elements found. <span>Go to home</span>
</div>

<div [class.hidden]="isDataEmpty()">
    {{this.data.length}} elements found
</div> -->


<!-- <div [hidden]="!isDataEmpty()">
    No elements found. <span>Go to home</span>
</div>

<div [hidden]="isDataEmpty()">
    {{this.data.length}} elements found
</div> -->
